.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menus{
  width: 200px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.menu-button{
  flex: 1;
  border: 1px solid black;
  color: black;
  background-color: transparent;
  margin-top: 2px;
}

.menu-button.trash {
  flex: 0.5; /* Adjust the flex value for the trash button to make it smaller if needed */
}

